!!! 5

%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Geeky Pixel
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %meta(name="description" content="")

%body
  %section.banner
    %h1.banner-header Geeky Pixel Design
    %h2.banner-sub-header

  .main
    %section.about.slide.light-slide
      .container-small
        .card
          .inner-card
            %h1.big-header About
            %p

    %section.work.slide.sub-color-slide
      .container.slide-content
        %h1.big-header.center Our Work
        .cards.flexbox
          .card
            .card-img
              %img(src="img/card.jpg")
            .inner-card
              %h2 Heading
              .card-content
                %p Description
              .card-links
                %a.inline-link Link
          .card
            .card-img
              %img(src="img/card.jpg")
            .inner-card
              %h2 Heading
              .card-content
                %p Description
              .card-links
                %a.inline-link Link
          .card
            .card-img
              %img(src="img/card.jpg")
            .inner-card
              %h2 Heading
              .card-content
                %p Description
              .card-links
                %a.inline-link Link
  %section.contact.slide.light-slide
    .container-small
      .card
        .inner-card
          %h1.big-header Get A Quote

  %footer.footer
    %p Geeky Pixel 2015.
