.card{
  background: $card;
  //box-shadow: $material-box-shadow;
  //text-align: center;
  border-radius: .25rem;
  overflow: hidden;
  margin-bottom: $spacing-unit;

}

.color-header-label{
  background: $main-color;
  color: $white;
  padding: $spacing-unit;

}

.inner-card{
    width: 100%;
    padding: $spacing-unit/2 $spacing-unit $spacing-unit*1.5;
    margin: $margin-center;
}
