.group{
  position:relative;
  margin: 0 auto $spacing-unit*1.5;
  border-bottom: 1px solid $dark-grey;
}

.input{
  position:relative;
  display:block;
  width: 100%;
  padding: $spacing-unit/2;
  margin: $margin-center;
  border: 0;
  @include animate();
  &:focus{
    outline: 0;
  }

}

.label{
  position: absolute;
  font-weight: 700;
  font-family: $header-font;
  top: 10px;
  width: 80%;
  left: $spacing-unit;
  opacity: .8;
  pointer-events: none;
  @include animate();
}


textarea {
  height: 50px;
  resize:vertical;
  &:focus{
    height: 150px;
  }
}

.input-underline{
  position: relative;
  display: block;
  width: 100%;
  margin: $margin-center;


  &:before,
  &:after{
      position: absolute;
      content: '';
      bottom: -1px;
      height: 2px;
      width: 0;
      background: $main-color;
      @include animate();
    }

  &:before{
    left: 50%;
  }

  &:after{
    right: 50%;
  }

}

.input:focus ~ .label, .input.active-label ~ .label{
  top: -$spacing-unit;
  left: -2.65rem;
  opacity: .4;
  @include scale(.75);
}


.input:focus ~ .input-underline:before,
.input:focus ~ .input-underline:after{
  width: 50%;
}
