.flexbox{
  @include flexbox();
}

.flexbox-align-top{
  @include flexbox(row, wrap, flex-start, flex-start, space-between);
}

.container{
  max-width: $layout-width;
  margin: $margin-center;
}

.container-small{
  max-width: 800px;
  margin: $margin-center;
}

.container-smallest{
  max-width: 540px;
  margin: $margin-center;
}

.site-header{
  @include animate();
  position: relative;
  background: $nav;
  z-index: 1;
  color: $white;
  padding: $spacing-unit/2;
  a{
    color: $white;
  }
}

.site-header-fixed{
  background: rgba($nav, 0.8);
  position: fixed;
  z-index: 200;
  width: 100%;
  top: 0;
  left: 0;
}

.logo{
  display: block;
  width: 4rem;
  height: auto;
}

.main{
  //@include animate(.2s);
  position: relative;
  z-index: 1;
}

.main-top-margin{
  margin-top: 7rem;
}


.banner{
  position: relative;
  top: 0;
  text-align: center;
  padding: 10rem $spacing-unit;
  background: $banner url(../img/banner.jpg) 50% 50% no-repeat;
  background-size: cover;
  color: $white;
  z-index: -1;

  &:after{
    position: absolute;
    content: '';
    background: $main-color;
    background: -webkit-radial-gradient(circle farthest-corner at right bottom, #ffd08a 0%, #ffa376 28%, $main-color 79%, darken($main-color, 5%) 100%);
    background: -moz-radial-gradient(circle farthest-corner at right bottom, #ffd08a 0%, #ffa376 28%, $main-color 79%, darken($main-color, 5%) 100%);
    background: -o-radial-gradient(circle farthest-corner at right bottom, #ffd08a 0%, #ffa376 28%, $main-color 79%, darken($main-color, 5%) 100%);
    background: -ms-radial-gradient(circle farthest-corner at right bottom, #ffd08a 0%, #ffa376 28%, $main-color 79%, darken($main-color, 5%) 100%);
    background: radial-gradient(circle farthest-corner at right bottom, #ffd08a 0%, #ffa376 28%, $main-color 79%, darken($main-color, 5%) 100%);
    opacity: .725;
    width: 100%;
    height: 100%;
    z-index: -1;
    top:0;
    left: 0;
  }
}

.slide{
  padding: 5rem $spacing-unit;
  position: relative;
  z-index: 1;
  .slide-content{

  }
}

.light-slide{
  background: $true-white;
}

.main-color-slide{
  background: $main-color;
}

.sub-color-slide{
  background: $second-color;
}


.social-icons-group{
  max-width: 400px;
  margin: 0 auto;
  padding: $spacing-unit;
  a{
    color: $white;
  }

}

.icon-holder{
  margin-bottom: $spacing-unit;
}
